.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
    overflow-y: auto;
    position: relative;
}

.contentPage {
    width: 90%;
    min-width: 90%;
    aspect-ratio: 506 / 740;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    word-break: break-all;
    position: relative;
    font-weight: 900;
}


.theme0 {
    background-image: url('/themes/page00.png');
}

.theme1 {
    background-image: url('/themes/page01.png');
}

.theme2 {
    background-image: url('/themes/page02.png');
}